body {
  margin: 0;
  padding: 0;
  border: saddlebrown; 
  font-family: Arial;
}

#container {
  display: grid;
  background-image: url(/img/pexels-photo-459480.jpeg);
  background-size: cover;
  height: 100%;
  
}

/* HEADER */

#titleContainer {
  text-align: center;
  background-image: url(/img/wood-tree-grain-fallen.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Pinewood' !important;
  font-size: 3em;
  font-weight: 100;
}

/* BEERS */

#beerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 25vh;
}

.beer {
  border: solid white;
}

/* .beer1 {
  background-image: url(/img/elhefe.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer2 {
  background-image: url(/img/fairytaleale.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer3 {
  background-image: url(/img/githop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer4 {
  background-image: url(/img/hollaback.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer5 {
  background-image: url(/img/hoppilyeverafter.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer6 {
  background-image: url(/img/mowintime.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer7 {
  background-image: url(/img/row26.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer8 {
  background-image: url(/img/ruinedchildhood.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer9 {
  background-image: url(/img/sleighride.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.beer10 {
  background-image: url(/img/steampunk.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

/* BEER MODAL */

#beerModal {
  position: absolute;
  background-image: url(/img/pexels-photo-129733.jpeg);
  background-size: cover;
  z-index: 10;
  width: 80vw;
  height: 125vh;
  display: none;
  padding: 1vw 10vw;
  color: #FFF;
}

#close {
  position: fixed;
  top: 1%;
  left: 90%;
  font-size: 2em;
  font-family: Arial;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

#beerImg {
  position: absolute;
  bottom: 5vw;
  width: 40vw;
  right: 30vw;
}

/* QUEUE & SERVING */

#queueContainer, #serveContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #FFFFFF80;
  width: 80vw;
  margin: 2vw 10vw;
  padding-bottom: 6vw;
}

#bartenderContainer {
  display: grid;
  text-align: center;
  background-color: #FFFFFF80;
  width: 80vw;
  margin: 3vw 10vw;
}

#queue, #served {
  font-size: 3em;
  background-color: #FFF;
  border-radius: 100px;
  padding: 15%;
}

/* MEDIA QUERIES */

  @media screen and (min-width: 1024px) {
    #container {
      display: grid;
      /* grid-template-columns: 12fr; */
    }
    #beerContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

  }


