body {
  margin: 0;
  padding: 0;
  border: saddlebrown; 
  font-family: Arial;
  width: 100vw;
}

#container {
  display: grid;
  background-image: url(/img/pexels-photo-459480.jpeg);
  background-size: cover;
  height: 100%;
  width: 100vw;
  padding-bottom: 5vw;
}

/* HEADER */

#titleContainer {
  /* text-align: center; */
  background-image: url(/img/wood-tree-grain-fallen.jpg);
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Pinewood' !important;
  font-size: 3em;
  font-weight: 100;
}

#beerPour {
  background-image: url(/img/beer-sprite-03.png);
  height: 12vw;
  width: 10.4vw;
  background-size: 52.2vw;
  background-repeat: no-repeat;
  animation-name: pouring;
  animation-timing-function: steps(5);
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes pouring {
  100% {
    background-position: -52.2vw;
  }
}

/* BEERS */

#beerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  grid-row-gap: 2vw;
  margin-top: 2vw;
}

.beer {
  /* border: solid white; */
  width: 17vw;
  height: 19.4vw;
  margin-left: 1.5vw;
  cursor: pointer;
}

.beer:hover {
  filter: drop-shadow(0 0 0.75rem black);
}

.beer {
  background-image: url(/img/elhefe.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* BEER MODAL */

#beerModal {
  position: absolute;
  background-image: url(/img/pexels-photo-129733.jpeg);
  background-size: cover;
  z-index: 10;
  width: 80vw;
  height: 100%;
  display: none;
  padding: 1vw 10vw;
  color: #FFF;
}

#close {
  position: fixed;
  top: 1%;
  left: 90%;
  font-size: 2em;
  font-family: Arial;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#beerImg {
  position: absolute;
  bottom: 5vw;
  width: 40vw;
  right: 30vw;
}

/* QUEUE & SERVING */

#queueContainer, #serveContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFF80;
  width: 80vw;
  margin: 2vw 10vw;
  padding-bottom: 5vw;
  overflow: hidden;
}

#queue, #served {
  font-size: 3em;
  background-color: #FFF;
  border-radius: 100px;
  padding: 2.5vw;
  width: 15vw;
  height: 15vw;
  margin-top: -1vw;
}

#serveList, #orderList, #orderTitle {
  display: none;
}

/* BARTENDER & DAVE */

#bartenderContainer, #daveContainer {
  display: grid;
  text-align: center;
  background-color: #FFFFFF80;
  width: 80vw;
  margin: 3vw 10vw;
  overflow: hidden;
}

/* #daveContainer {
  /* display: none; */
/* } */ 

#dave {
  background-image: url(/img/davegrohl.png);
  background-size: contain;
  width: 23vw;
  height: 23vw;
  margin-bottom: -2.5vw;
  display: none;
}

#grid {
  margin-top: 2vw;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  #queue, #served {
    font-size: 4.5em;
    width: 12vw;
    padding: 1.5vw;
    height: 12vw;
  }
  h1 {
    font-size: 3.5em;
  }
  #beerImg {
    bottom: 5vw;
    width: 30vw;
    right: 35vw;
  }
}

  @media screen and (min-width: 1024px) {
    #container {
      height: 100%;
      padding-bottom: 5vw;
    }
    #titleContainer {
      background-position: 50%;
    }
    h1 {
      font-size: 5.5em;
      margin: 2vw;
    }
    #grid {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 2.5vw;
      margin-top: 2.5vw;
    }
    #daveContainer {
      display: block;
    }
    #queueContainer, #serveContainer, #bartenderContainer, #daveContainer {
      width: 45vw;
      margin: 0;
      justify-content: space-around;
      padding-bottom: 2vw;
    }
    #queue, #served {
      font-size: 6em;
      width: 11vw;
      padding: 1.5vw;
      height: 11vw;
      margin-top: 0;
    }
    #queueContainer, #bartenderContainer {
      margin-left: 3.5vw;
    }
    #serveContainer, #daveContainer {
      margin-right: 3.5vw;
      margin-left: 2.5vw;
    }
    #beerContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    #beerImg {
      bottom: 5vw;
      width: 25vw;
      right: 37.5vw;
    }
    #beerModal {
      display: none;
      padding: 1vw 10vw;
      color: #FFF;
    }
    .beer {
      width: 9vw;
      height: 10.3vw;
      margin-left: 0.5vw;
    }
    #serveList, #orderList, #orderTitle {
      display: block;
    }
  }

  @media screen and (min-width: 1200px) {
    #queue, #served {
      font-size: 7.5em;
      width: 10vw;
      padding: 1vw;
      height: 10vw;
    }
    #beerImg {
      bottom: 5vw;
      width: 20vw;
      right: 40vw;
    }
  }


